<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					     <!-- http或者https链接的ipa文件地址 -->
					<string>http://x5.justep.com/apps/x5.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					 <!-- http或者https链接的图片地址，可直接使用app对应的icon（分辨率没强制要求） -->
					<string>http://pics.sc.chinaz.com/files/pic/pic9/201509/apic14546.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					   <!-- http或者https链接的小图片地址，可直接使用app对应的icon（分辨率没强制要求） -->
					<string>http://bpic.588ku.com/element_pic/00/91/94/8456f18ade30696.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				  <!-- BundleID，就是新建app时的包名 -->
				<string>com.wxqlm.XQTestIGListKitDemo</string>
				<key>bundle-version</key>
				<!-- 版本号 -->
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<!-- 安装APP时, 提示的信息 -->
				<string>下载标题</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>